<header class="header-page">
  <div class="container">
    <nav>
    <ul class="site-navigation">
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./index.html">Home</a>
      </li>  
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-1.html"
          >SimpleLightbox Gallery</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-9-2.html"
          >Feedback Form</a
        >
      </li>    
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-1.html"
          >Gallery with my Window && Slider</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-2.html"
          >BasicLightbox Gallery</a
        >
      </li>  
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-8-3.html"
          >BasicLightbox Gallery with my Slider</a
        >
      </li>          
    </ul>
  </nav>
  </div>
</header>
